[submodule "Python_and_Django_Full_Stack_Web_Developer"]
	path = Python_and_Django_Full_Stack_Web_Developer
	url = git@github.com:yukelele/Udemy_Python_and_Django_Full_Stack_Web_Developer_Bootcamp.git
